<!-- More details on the purpose of the AndroidManifest.xml file are
available at 
http://developer.android.com/guide/topics/manifest/manifest-intro.html .
Note that the Intro.java script is utilized FIRST, and the 
SelectCereal.java script is utilized later. 
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonhsu.upgradeyourcerealbasic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
    >
        <activity
            android:name=".Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SelectCereal" >
        </activity>
    </application>

</manifest>